.player-header {
    position: absolute;
    top: 0; bottom: auto; left: 0; right: 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

.player-selector, .audience-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

form.invisible {
    display: none;
}